### Creds ###
src/API_KEY.py

### VSCode ###
.vscode

### JupyterNotebook ###
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb

### macOS ###
/.DS_Store

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Persisted Data / Pickles ###
data

### Pipfile.lock
Pipfile.lock
