[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyter = "*"
gensim = "*"
pandas = "*"
tornado = "==5.1.1"
matplotlib = "*"
sklearn = "*"
nltk = "*"
seaborn = "*"
pyenchant = "*"
pyldavis = "*"
xgboost = "*"
patsy = "*"
statsmodels = "*"

[requires]
python_version = "3.7"
