[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"
jupyter = "*"
matplotlib = "*"
jupyter-nbextensions-configurator = "*"
jupyter-contrib-nbextensions = "*"
pycountry = "*"

[requires]
python_version = "3.7"
